# Environment variables
.env

# Composer
/vendor/
composer.phar
composer.lock

# IDE
.vscode/
.idea/
*.code-workspace

# Logs
error_log
*.log

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak

# Exclude backup folders
**/backup/
**/backups/

# Exclude diagnostic files
*.test-api.php
*.test.txt